.blog-form .ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
    border: none;
}

.blog-form .wrapperClassName {
    border: 1px solid #f0f0f0;
}

.blog-form .toolbarClassName {
    border-bottom: 1px solid #f0f0f0;
}

.blog-form .ant-row.ant-form-item.ant-form-item-with-help.ant-form-item-has-error .ant-form-item-control-input {
    border: 1px solid red;
}

.blog-form .DraftEditor-root {
    padding: 0px 20px;
}

.blog-card .blog-title {
    font-size: 1.4rem;
}
.blog-card .blog-author {
    font-size: 1rem;
    opacity: 0.7;
}
.blog-card .blog-date {
    font-size: 0.8rem;
    opacity: 0.7;
}
.blog-card .blog-content {
    font-size: 1rem;
}

.blog-form .blog-form-buttons .ant-form-item-control-input-content {
    margin-top: 35px;
    display: grid;
    grid-auto-flow: column;
    gap: 35px;
}