.blog-form .ant-form-item-control-input-content {
    /* display: grid;
    grid-auto-flow: column;
    gap: 35px; */
}

.blog-form .wrapperClassName {
    border: 1px solid #f0f0f0;
}

.blog-form .toolbarClassName {
    border-bottom: 1px solid #f0f0f0;
}

.blog-form .DraftEditor-root {
    padding: 0px 20px;
}

.blog-card .blog-title {
    font-size: 1.4rem;
}
.blog-card .blog-author {
    font-size: 1rem;
    opacity: 0.7;
}
.blog-card .blog-date {
    font-size: 0.8rem;
    opacity: 0.7;
}
.blog-card .blog-content {
    font-size: 1rem;
}

.blog-form .blog-form-buttons .ant-form-item-control-input-content {
    display: grid;
    grid-auto-flow: column;
    gap: 35px;
}