.blog-form {
    margin-top: 75px !important;
    border-left: 1px solid #f0f0f0 !important;
    box-shadow: none !important;
}
.blog-form:hover {
    box-shadow: none !important;
}

.blog-form .ant-form-item-control-input-content {
    display: grid;
    grid-auto-flow: column;
    gap: 35px;
}

.blog-card .blog-title {
    font-size: 1.4rem;
}
.blog-card .blog-date {
    font-size: 0.8rem;
}
.blog-card .blog-content {
    font-size: 1rem;
}