:root {
    --primary: #579A62;
    --analog1: #74B07E;
    --analog1-50p: #73b07d80;
    --analog2: #579A84;
    --analog3: #6D9A57;
    --opposite: #576D9A;
    --complementary: #9A578F;
    --extra: #9A8457;
    --gray: #CCCCCC;
  }

.home-banner {
    height: 200px;
    width: 100%;
    background-image: url('assets/images/bamboo.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

a {
    color: var(--primary);
}
a:hover {
    color: var(--analog1);
}
a:active {
    color: var(--analog2);
}

.slide-wrapper {
    height: 100%;
}

.carrousel-style {
    color: #FFFFFF;
    text-align: center;
    background: var(--primary);
    height: 400px;
}

.home-title {
    margin-top: 40px;
    padding: 10px;
    border-left: 7px solid var(--primary);
    background-color: var(--analog1);
    font-size: 1.4rem;
}

.home-text {
    margin: 60px 60px;
    font-size: 1.1rem;
}

.ant-card {
    border-left: 7px solid var(--primary);
    border-radius: 20px;
    margin: 10px 0px;
    box-shadow: 10px 10px 40px var(--gray);
    transition: 0.3s;
}
.ant-card:hover {
    box-shadow: 10px 10px 10px var(--gray);
}

.ant-card-meta {
    display: flex;
    align-items: center;
}

.ant-card-meta-description {
    font-size: 1rem;
}

@media (max-width: 600px) {
    .home-banner {
        display: none;
    }

    .home-title {
        font-size: 1.3rem;
    }

    .home-text {
        margin: 20px 20px;
    }

    .ant-card-meta {
        flex-direction: column;
        text-align: center;
    }
    .ant-card-meta-avatar {
        padding: 0px;
    }
  }