.slide-wrapper {
    height: 100%;
}

.carrousel-style {
    color: #FFFFFF;
    text-align: center;
    background: var(--primary);
    background-image: url('assets/images/bamboo-bg-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.home-title {
    margin-top: 40px;
    padding: 10px;
    border-left: 7px solid var(--primary);
    background-color: var(--analog1);
    font-size: 1.4rem;
}

.home-text {
    margin: 60px 60px;
    font-size: 1.1rem;
}

@media (min-width: 600px) {
    .carrousel-style {
        background-image: url('assets/images/bamboo-bg-desktop.jpg');
    }   
}

@media (max-width: 600px) {
    .home-banner {
        display: none;
    }
  
    .home-title {
        font-size: 1.3rem;
    }
  
    .home-text {
        margin: 20px 20px;
    }
}