.ant-layout-header .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.ant-layout-header .trigger:hover {
  color: var(--primary);
}

.ant-layout-header {
  display: flex;
  align-items: center;
}
.ant-layout-header b {
  padding-top: 6px;
  padding-left: 14px;
  line-height: 16px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0px 10px;
}

.site-layout .layout-header {
  background: #FFFAE5;
  border: 1px solid var(--gray);
}

.layout-header--wrapper {
  margin: 0px auto;
  width: 100%;
  max-width: 1200px;
}

.site-layout .layout-content {
  background: #FFFFFF;
  padding-bottom: 174px;
}

.layout-content--wrapper {
  margin: 0px auto;
  width: 100%;
  max-width: 1200px;
  padding: 0px 24px;
}

.back-to-top {
  height: 50px;
  width: 50px;
  background-color: var(--primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-to-top--icon {
  color: white;
}

.layout-footer {
  background-color: var(--analog1-50p);
  backdrop-filter: blur(4px);
  font-size: 1rem;
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0;
}
.layout-footer .social-media {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
}
.layout-footer .social-media .anticon {
  cursor: pointer;
}

@media (max-width: 600px) {
  .ant-layout-header b {
    display: none;
  }

  .layout-footer {
    padding: 10px 76px;
  }
  .layout-footer .copyright {
    display: none;
  }
  .layout-footer .social-media {
    margin-top: 0px;
    justify-content: space-between;
  }
}