.staff-form .blog-form-buttons .ant-form-item-control-input-content {
    margin-top: 35px;
    display: grid;
    grid-auto-flow: column;
    gap: 35px;
}
.about-us--container {
    margin-top: 40px;
    font-size: 1rem;
}

.staff-action {
    color: var(--primary) !important;
}

.staff-action--delete {
    color: var(--danger) !important;
}

.staff-action--publish {
    color: var(--warning) !important;
}

@media (max-width: 600px) {
    .about-us--container {
      text-align: center;
    }
  }